    /* Comienzo de Clases que son pruebas y aun no definidas */
    /* Comienzo de Clases que son pruebas y aun no definidas */
    
    html,
    body {
        overflow-x: hidden;
    }
    
    @font-face {
        font-family: 'bookman';
        src: url('../assets/bookman\ old\ style.ttf');
    }
    
    @font-face {
        font-family: 'felix';
        src: url('../assets/Felix\ Titling\ MT.ttf');
    }
    
    .presentacion1 {
        color: white;
        font-family: bookman;
        font-size: 1.3rem;
    }
    
    .titulo {
        color: white;
        font-family: felix;
        font-size: 1rem;
    }
    
    .navFlex {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: flex-end;
    }
    
    .navFlex li {
        list-style-type: none;
        padding: 15px;
        font-size: 1rem;
    }
    
    .navFlex li a {
        text-decoration: none;
        color: #FF3355
    }
    
    .navFlex li a:hover {
        text-shadow: 2px 2px 3px #FF3355
    }
    
    .fondoNav {
        background-color: rgb(255, 157, 157);
        width: 100%;
    }
    
    .portada img {
        width: 100%;
        border: 6px solid rgb(255, 157, 157);
        border-radius: 10px;
    }
    
    .body {
        background-color: black;
        /*background-color: grey; */
        /*background-color: lightgray;*/
    }
    
    .logo {
        width: 100px;
        height: auto;
    }
    
    h3,
    h4 {
        color: #FF3355
    }
    
    .fondoFooter {
        background-color: rgb(255, 157, 157);
    }
    
    .redesFooter button {
        border: #808000;
    }
    /*Comienzo Clases para las cards*/
    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
    
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 200px;
        border: 1px black;
        perspective: 1000px;
        /* Remove this if you don't want the 3D effect */
    }
    /* This container is needed to position the front and back side */
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    /* Do an horizontal flip when you move the mouse over the flip box container */
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    /* Position the front and back side */
    
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
    }
    /* Style the front side (fallback if image is missing) */
    
    .flip-card-front {
        background-color: rgb(255, 157, 157);
        color: black;
    }
    /* Style the back side */
    
    .flip-card-back {
        background-color: rgb(255, 157, 157);
        color: white;
        transform: rotateY(180deg);
    }
    
    .categorias {
        display: flex;
        flex-direction: row;
        border: blue;
    }
    
    .cat {
        width: 22.5%;
        margin-left: 1.25%;
        margin-right: 1.25%;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    
    .cat img {
        width: 100%;
        height: 100%;
    }
    /*Fin Clases para las cards*/
    /*Inicio Clases Galeria Eventos*/
    
    .galeriaBodas img {
        width: 30%;
        height: auto;
        margin-left: 2.5%;
    }
    
    .bodas {
        justify-content: center;
    }
    
    .bodas h3 {
        text-align: center;
    }
    
    .galeriaQuince img {
        width: 30%;
        height: auto;
        margin-left: 2.5%;
    }
    
    .cumple15 {
        justify-self: center;
        margin-top: 50px;
    }
    
    .cumple15 h3 {
        text-align: center;
    }
    
    .galeriaInfantiles img {
        width: 30%;
        height: auto;
        margin-left: 2.5%;
    }
    
    .infantiles {
        justify-self: center;
        margin-top: 50px;
    }
    
    .infantiles h3 {
        text-align: center;
    }
    
    .galeriaFiestas img {
        width: 30%;
        height: auto;
        margin-left: 2.5%;
        margin-bottom: 50px;
    }
    
    .fiestas {
        justify-self: center;
        margin-top: 50px;
    }
    
    .fiestas h3 {
        text-align: center;
    }
    /*Fin Clases Galeria Eventos*/
    
    .galeria h1 {
        text-align: center;
    }
    /*Comienzo Footer*/
    
    .integral {
        position: relative;
        justify-self: left;
    }
    
    .redes {
        position: relative;
        justify-self: center;
    }
    
    .redes h2 {
        text-align: center;
        margin-top: 20px;
    }
    
    .traslado img:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;
        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
    }
    
    .traslado img {
        width: 200px;
        height: 200px;
    }
    
    .pie-pagina {
        width: 100%;
        background-color: rgba(255, 157, 157);
    }
    
    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    
    .pie-pagina .grupo-1 .box figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pie-pagina .grupo-1 .box figure img {
        width: 150px;
        height: 150px;
    }
    
    .pie-pagina .grupo-1 .box h2 {
        color: black;
        margin-bottom: 25px;
        font-size: 20px;
    }
    
    .pie-pagina .grupo-1 .box p {
        color: black;
        margin-bottom: 10px;
    }
    
    .pie-pagina .grupo-1 .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        transition: all 300ms ease;
    }
    
    .pie-pagina .grupo-2 {
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    
    .pie-pagina .grupo-2 small {
        font-size: 15px;
    }
    
    .pie-pagina .grupo-2 .margenInferior img {
        margin-bottom: 30px;
    }
    
    .nosotros {
        text-align: center;
        margin-top: 20px;
    }
    
    .red-social {
        position: relative;
        justify-content: center;
    }
    /*Fin Footer*/